
<div class="col-lg-3">
    <%= render 'shared/user_info' %>
</div>
<div class="col-lg-9 well">
	<div id = "wrapper" class="row">
		<div class="row-sm-3">
		  <ul class="nav nav-pills">
		    <%= mailbox_section 'inbox', @box %>
		    <%= mailbox_section 'sent', @box %>
		    <%= mailbox_section 'trash', @box %>
		  </ul>
		</div>

		<div  class="col-sm-9">
		  <ul class="list-group">
		    <%= render partial: 'conversations/conversation', collection: @conversations %>
		  </ul>

		  <%= will_paginate %>
		</div>
		<div class="col-sm-9">
			<% if @box == 'trash' %>
			  <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,
				         data: {confirm: 'Are you sure?'} %></p>
			<% end %>
		 

			<%= will_paginate %>
		</div>
	
	</div>
</div>
