<%= form_for(@event) do |f| %>
	<div class = "form-group", style = "float:left">    
		
    <%= f.label:all_day, 'All Day' %> 
    <%= f.check_box :all_day, label:true %>
	 <br>
   
  </div> 
	<div class="form-group",  style ="align:left">    
    <%= f.text_field :start_datetime, autofocus: true, placeholder: 'Start Time', class: 'form-control' %>
  </div>
	<div class="form-group">    
    <%= f.text_field :end_datetime, autofocus: true, placeholder: 'End Time', class: 'form-control' %>
  </div>
  <div class="form-group">
    
    <%= f.text_field :name, autofocus: true, placeholder: 'Event Name', class: 'form-control', label: false %>
  </div>
	<% if false %>
		<div class = "form-group">
			<% options = options_from_collection_for_select(@course, 'id', 'name') %>
			<%= f.select :course_title,  options %>
		</div>
	<%end %>  
	<div class="form-group">
    
    <%= f.text_field :description, autofocus: true, placeholder: 'Event description', class: 'form-control', label: false %>
  </div>
 	
	
  <div class="actions">
    <%= f.submit (@event.persisted? ? :update : :create), class: 'btn btn-primary' %>
  </div>
<% end %>
